<app-header />
<div class="px-4 py-4">
  <div class="container-fluid">
    <h1><i class="fa-solid fa-clipboard-list" style="color: #000000;"></i> LISTA DE PRODUCTOS</h1><br>
    <app-crear />
    <br><br>
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>#</th>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of elementos">
          <td>{{ elementos.indexOf(p) + 1 }}</td>
          <td><img [ngSrc]="p.images[0]" width="50" height="50" class="rounded-circle" /></td>
          <td titulo>{{ p.title }}</td>
          <td descripcion>{{ p.description }}</td>
          <td precio>${{ p.price }}</td>
          <td accion>
            <app-lista />
            <app-actualizar />
            <app-eliminar />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
